@use "../util/mixins" as mix;
@use "../util/colors" as color;

.config_area {
    @include mix.flex(column, center, center);
    h2 {
        display: block;
        margin: 0.5em auto;
        font-family: "Bebas Neue", cursive;
        font-weight: 300;
        text-align: center;
        font-size: clamp(0.8rem, 2vw, 1.5rem);
        padding: 0.7em;
        letter-spacing: 2px;
        border-radius: 7px;
        margin-top: 2em;
        background-color: color.$main_color;
        color: #fff;
    }
    .config {
        @include mix.flex(row, center, center);
        width: 100%;
        min-width: 100px;
        gap: 3em;
        position: relative;
        font-family: "Inter", sans-serif;
        .switcher_box {
            .switcher {
                @include mix.flex(row, center, center);
                width: 40px;
                height: 20px;
                border-radius: 150px;
                border: 1px solid color.$main_color;
                position: relative;
                cursor: pointer;
                .circle {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: color.$main_color;
                    border-radius: 150px;
                    transition: 250ms ease-out;
                    left: 12%;
                }
            }
            .icon-box {
                transition: 500ms ease-out;
            }
        }
        .change-lang_box {
            @include mix.flex(column, center, center);
            width: 80px;
            cursor: pointer;
            &:active {
                transform: scale(0.9);
            }
            .lang {
                @include mix.flex(row, center, center);
                gap: 1em;
                span {
                    font-family: "Inter", sans-serif;
                    font-size: 0.8rem;
                    font-weight: 700;
                    color: rgb(255, 255, 255);
                    border-radius: 3px;
                    transition: 500ms ease;
                    padding: 0.5em;
                    &.active {
                        background-color: color.$main_color;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
        .voice-active {
            padding: 1em;
            background-color: color.$main_color;
            border: none;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
            &:active {
                transform: scale(0.9);
            }
        }
    }
}
